Node red/flows.json
[{"id":"bebe6312.75eaa","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"82e7808d.a775f","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item1","method":"get","upload":false,"swaggerDoc":"","x":60,"y":400,"wires":[["75926e80.0e102"]]},{"id":"88f8d669.b854e8","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":590,"y":400,"wires":[]},{"id":"47af8842.37dba8","type":"debug","z":"bebe6312.75eaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"d7bbbad8.10c168","type":"ibmiot in","z":"bebe6312.75eaa","authentication":"apiKey","apiKey":"6192a7fc.a9d5d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"kris123","applicationId":"","deviceType":"firstdevice","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["db2665ac.4e8c48"]]},{"id":"db2665ac.4e8c48","type":"function","z":"bebe6312.75eaa","name":"avail_fooditems","func":"msg.payload=msg.payload.fooditems\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["cd303582.fb03e8","3b833d5c.762742","949d38d.c95a2c8","c00ddae4.1ce418","a1ff4c45.23298","c8b3a5ff.6f6618","5d74040e.d416ec","48dbdd10.3b15f4","6eb40742.cfa618","1e034760.df8ac9","96d0fee9.e8304","1f93e07d.4f841"]]},{"id":"3b833d5c.762742","type":"function","z":"bebe6312.75eaa","name":"price1","func":"msg.payload=msg.payload.i1.price\nglobal.set('p1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["47af8842.37dba8"]]},{"id":"75926e80.0e102","type":"function","z":"bebe6312.75eaa","name":"webpage1","func":"msg.payload={\"item\":global.get(\"i1\"),\"price\":global.get(\"p1\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":400,"wires":[["88f8d669.b854e8"]]},{"id":"cd303582.fb03e8","type":"function","z":"bebe6312.75eaa","name":"item1","func":"msg.payload=msg.payload.i1.item\nglobal.set('i1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["47af8842.37dba8"]]},{"id":"949d38d.c95a2c8","type":"function","z":"bebe6312.75eaa","name":"item2","func":"msg.payload=msg.payload.i2.item\nglobal.set('i2',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["47af8842.37dba8"]]},{"id":"c00ddae4.1ce418","type":"function","z":"bebe6312.75eaa","name":"price2","func":"msg.payload=msg.payload.i2.price\nglobal.set('p2',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":160,"wires":[["47af8842.37dba8"]]},{"id":"a1ff4c45.23298","type":"function","z":"bebe6312.75eaa","name":"item3","func":"msg.payload=msg.payload.i3.item\nglobal.set('i3',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["47af8842.37dba8"]]},{"id":"96d0fee9.e8304","type":"function","z":"bebe6312.75eaa","name":"item6","func":"msg.payload=msg.payload.i6.item\nglobal.set('i6',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["47af8842.37dba8"]]},{"id":"c8b3a5ff.6f6618","type":"function","z":"bebe6312.75eaa","name":"price3","func":"msg.payload=msg.payload.i3.price\nglobal.set('p3',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":200,"wires":[["47af8842.37dba8"]]},{"id":"5d74040e.d416ec","type":"function","z":"bebe6312.75eaa","name":"item4","func":"msg.payload=msg.payload.i4.item\nglobal.set('i4',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["47af8842.37dba8"]]},{"id":"6eb40742.cfa618","type":"function","z":"bebe6312.75eaa","name":"item5","func":"msg.payload=msg.payload.i5.item\nglobal.set('i5',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":280,"wires":[["47af8842.37dba8"]]},{"id":"1e034760.df8ac9","type":"function","z":"bebe6312.75eaa","name":"price5","func":"msg.payload=msg.payload.i5.price\nglobal.set('p5',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["47af8842.37dba8"]]},{"id":"48dbdd10.3b15f4","type":"function","z":"bebe6312.75eaa","name":"price4","func":"msg.payload=msg.payload.i4.price\nglobal.set('p4',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":240,"wires":[["47af8842.37dba8"]]},{"id":"1f93e07d.4f841","type":"function","z":"bebe6312.75eaa","name":"price6","func":"msg.payload=msg.payload.i6.price\nglobal.set('p6',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["47af8842.37dba8"]]},{"id":"9a2454bf.039138","type":"function","z":"bebe6312.75eaa","name":"webpage2","func":"msg.payload={\"item\":global.get(\"i2\"),\"price\":global.get(\"p2\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":460,"wires":[["98cedba2.c16718"]]},{"id":"84f2ab4c.a92948","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item2","method":"get","upload":false,"swaggerDoc":"","x":60,"y":460,"wires":[["9a2454bf.039138"]]},{"id":"98cedba2.c16718","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"2a1b3a1e.082a36","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item3","method":"get","upload":false,"swaggerDoc":"","x":60,"y":520,"wires":[["ac0ada6a.703888"]]},{"id":"ca7a7e92.a801a","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":590,"y":520,"wires":[]},{"id":"943277ee.8bd518","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":560,"wires":[["8e3669a3.142218"]]},{"id":"5a178a09.654154","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":590,"y":560,"wires":[]},{"id":"98663cac.eee65","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":600,"wires":[["14209020.de35a"]]},{"id":"569188c0.0ef678","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":590,"y":600,"wires":[]},{"id":"965e3c5a.9ed41","type":"http in","z":"bebe6312.75eaa","name":"","url":"/item6","method":"get","upload":false,"swaggerDoc":"","x":60,"y":640,"wires":[["52ffefa7.0ec07"]]},{"id":"c75e7b79.e2b6a8","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":610,"y":640,"wires":[]},{"id":"ac0ada6a.703888","type":"function","z":"bebe6312.75eaa","name":"webpage3","func":"msg.payload={\"item\":global.get(\"i3\"),\"price\":global.get(\"p3\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["ca7a7e92.a801a"]]},{"id":"8e3669a3.142218","type":"function","z":"bebe6312.75eaa","name":"webpage4","func":"msg.payload={\"item\":global.get(\"i4\"),\"price\":global.get(\"p4\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":560,"wires":[["5a178a09.654154"]]},{"id":"14209020.de35a","type":"function","z":"bebe6312.75eaa","name":"webpage5","func":"msg.payload={\"item\":global.get(\"i5\"),\"price\":global.get(\"p5\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":600,"wires":[["569188c0.0ef678"]]},{"id":"52ffefa7.0ec07","type":"function","z":"bebe6312.75eaa","name":"webpage6","func":"msg.payload={\"item\":global.get(\"i6\"),\"price\":global.get(\"p6\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["c75e7b79.e2b6a8"]]},{"id":"e30ef061.6dc74","type":"http in","z":"bebe6312.75eaa","name":"","url":"/order","method":"get","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["21a9b9.f006d648","9964da6f.ad5bf8","82b66fba.def6f","b7ec47c.440f4b8"]]},{"id":"21a9b9.f006d648","type":"http response","z":"bebe6312.75eaa","name":"","statusCode":"","headers":{},"x":680,"y":860,"wires":[]},{"id":"b7ec47c.440f4b8","type":"debug","z":"bebe6312.75eaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":900,"wires":[]},{"id":"9964da6f.ad5bf8","type":"ibmiot out","z":"bebe6312.75eaa","authentication":"apiKey","apiKey":"6192a7fc.a9d5d8","outputType":"cmd","deviceId":"kris123","deviceType":"firstdevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":800,"wires":[]},{"id":"e3f9716e.07773","type":"cloudant out","z":"bebe6312.75eaa","name":"food_order","cloudant":"","database":"foodorder","service":"node-red-kmfqi-2021--cloudant-1625752175701-97991","payonly":true,"operation":"insert","x":720,"y":960,"wires":[]},{"id":"4167bb72.1d98b4","type":"ui_text","z":"bebe6312.75eaa","group":"a8fc1da9.946cf","order":1,"width":"6","height":"4","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1000,"wires":[]},{"id":"82b66fba.def6f","type":"function","z":"bebe6312.75eaa","name":"order_ui","func":"msg.payload=msg.payload.order_qty\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":940,"wires":[["4167bb72.1d98b4","1b2de8e6.0674b7"]]},{"id":"5625f9ab.8b4218","type":"ui_audio","z":"bebe6312.75eaa","name":"","group":"a8fc1da9.946cf","voice":"Google US English","always":false,"x":780,"y":1060,"wires":[]},{"id":"1b2de8e6.0674b7","type":"watson-text-to-speech","z":"bebe6312.75eaa","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV2Voice","voicehidden":"en-US_MichaelV2Voice","format":"audio/mp3","password":"","apikey":"PjC0bvAGJ1nFseEZGlUNUfZjO9ntqUkrYdFwS065OWVa","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/761a99f7-59be-443f-9106-ddce29442f5f","x":500,"y":1040,"wires":[["5625f9ab.8b4218"]]},{"id":"b31f17f5.ce4398","type":"http request","z":"bebe6312.75eaa","name":"fast2sms","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=mahHEK0Zo69JNI14SestX2p3AYRxuzMjlrqcvi7yPFk8nWbL5VSsTq1LhvbwlCMdO7I9fYXWRxeU06yr&route=q&message=Over%20the%20moon%0A%0AThree's%20the%20number!!!%0A%0AAs%20a%20Over%20The%20Moon's%20card%20holder,%20you're%20about%20to%20get%20a%20whole%20%20heap%20of%20envious%20stares......Flash%20your%20card%20in%20our%20restaurant%20between%20%20today%20and%20get%20ready%20to%20try%20our%20SPECIAL%20DUM%20BIRIYANI%20before%20anyone%20else.%0A%20%0A&language=english&flash=0&numbers=9526453875","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":1200,"wires":[["9d02f253.04308"]]},{"id":"9d02f253.04308","type":"debug","z":"bebe6312.75eaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1200,"wires":[]},{"id":"6192a7fc.a9d5d8","type":"ibmiot","name":"APIIOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a8fc1da9.946cf","type":"ui_group","name":"order","tab":"f3c9ab9f.70ab98","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3c9ab9f.70ab98","type":"ui_tab","name":"restbeacon","icon":"dashboard","disabled":false,"hidden":false}]